Hello, 

Your user account has just been created on the Régataïades webiste [http://regataiades.fr]. 

This accout allows you to update your registration details anytime before the event. Very soon you will also be able to book meals during the event.

#if( !$invited )
In case of crew withdrawal after payment or any other particular problem, feel free to contact us on contact@regataiades.fr. 
#end

Here below are your credentials: 
* Login: $username
* Password: $password

Kind regards,

Régataïades management team

Tel: +33(0)9.54.01.48.10
Email: inscription@regataiades.fr
Université Nantes Aviron (UNA)
2 rue de la Houssinière 44300 NANTES