Bonjour, 

Votre compte utilisateur sur le site de Régataïades [http://regataiades.fr] vient d'être créé. 

Ce compte vous permet de modifier votre dossier d'inscription. Très prochainement vous allez également pouvoir reserver les repas pendant l'évenement. 

#if( !$invited )
En cas de déclaration de forfait d'un équipage après le paiement ou d'un autre problème particulier, merci de nous contacter sur contact@regataiades.fr. 
#end

Pour rappel, voici vos paramètres de connexion : 
* Login : $username
* Mot de passe : $password

A bientôt,

Comité de pilotage des Régataïades

Tél : +33(0)9.54.01.48.10
Email : inscription@regataiades.fr
Club Université Nantes Aviron (UNA)
2 rue de la Houssinière 44300 NANTES